In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#load file
from google.colab import files
files.upload()

In [ ]:
# Load your dataset
# Replace 'your_dataset.csv' with the actual path to your CSV file
# The original encoding 'utf-8' caused a UnicodeDecodeError.
# Trying 'latin-1' or 'ISO-8859-1' instead as they commonly include the problematic byte.
df = pd.read_csv('data.csv', encoding='latin-1')
# If 'latin-1' doesn't work, try 'ISO-8859-1'
# df = pd.read_csv('sales_data.csv', encoding='ISO-8859-1')
df.head(10)

In [ ]:
df.info()

In [ ]:
# prompt: CustomerID column now float64 but i need integer can you convert it float to integer

import pandas as pd
# Convert 'CustomerID' column to integer, coercing errors to NaN
df['CustomerID'] = pd.to_numeric(df['CustomerID'], errors='coerce').astype('Int64')

# Now check the info again
df.info()

# Display first 10 rows to see the changes
df.head(10)

In [ ]:
# prompt: Remove Unnamed: 7 column

# Assuming df is already loaded as in your original code
if 'Unnamed: 7' in df.columns:
  df = df.drop('Unnamed: 7', axis=1)
df.head(10)

In [ ]:
# prompt: InvoiceNo, Quantity, UnitPrice, CustomerID if you found empty cell or null or any unwanted value that remove all row

import pandas as pd
# Drop rows with null or empty values in specified columns
df = df.dropna(subset=['InvoiceNo', 'Quantity', 'UnitPrice', 'CustomerID'])

# Remove rows with non-numeric values in 'Quantity' and 'UnitPrice'
df = df[pd.to_numeric(df['Quantity'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['UnitPrice'], errors='coerce').notnull()]

# Convert 'Quantity' and 'UnitPrice' to numeric
df['Quantity'] = pd.to_numeric(df['Quantity'])
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'])

#Further clean up of invoiceNo
# Instead of using .str.contains, check if the values can be converted to numeric
df = df[pd.to_numeric(df['InvoiceNo'], errors='coerce').notnull()] # Filter out rows where 'InvoiceNo' cannot be converted to numeric
df['InvoiceNo'] = pd.to_numeric(df['InvoiceNo']) #Convert to numeric

df.shape

In [ ]:
import pandas as pd
# Iterate through columns and replace empty/null values with the previous value
for col in df.columns:
    # Use the first non-null value as the initial fill value
    fill_value = None
    # Reset index to ensure consecutive indices
    df = df.reset_index(drop=True)  # This line is added
    for i in range(len(df)):
        if pd.isnull(df.loc[i, col]) or df.loc[i, col] == '':
            if fill_value is not None:
                df.loc[i, col] = fill_value
        elif fill_value is None:
            fill_value = df.loc[i,col]

df.head(10)
df.shape

In [ ]:
# Rename the InvoiceDate column to Timedate
df.rename(columns={'InvoiceDate': 'Timedate'}, inplace=True)

df.head(10)

In [ ]:
# Create a new InvoiceDate column with the date formatted as %Y-%m-%d
df['InvoiceDate'] = pd.to_datetime(df['Timedate'], format='%m/%d/%Y %H:%M', errors='coerce').dt.strftime('%Y-%m-%d')

In [ ]:
df.shape

In [ ]:
# Display the cleaned DataFrame
df.head()

In [ ]:
# prompt: In stockcode we need 5 numbers but some cell if u see suppose 0 row its 85123A. here we see extra A. now remove this extra character

# Assuming 'StockCode' column exists and contains the problematic values
df['StockCode'] = df['StockCode'].astype(str).str.replace(r'[^0-9]', '', regex=True)
df['StockCode'] = df['StockCode'].str.zfill(5)
df.head(20)

In [ ]:
# prompt: write code download all data in csv format

import pandas as pd
from google.colab import files

# Assuming df is already loaded and processed as in the previous code

# Convert the DataFrame to CSV and download it
df.to_csv('cleaned_sales_data.csv', index=False)
files.download('cleaned_sales_data.csv')